.title {
    font-family: 'LucidaStd-Bold';
    display: flex;
    margin-left: 30px;
}

.address {
    width: '100%';
    height: 170px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1)
}

.profilebtn {
    border: none; 
    background: none
}

.profileimg {
    width:38px;
    display: 'block'
}

.dot {
    width: 45px; 
    margin-right: 25px;
}

.circleimg {
    width: 15px; 
    margin-right: 12px
}

.enterlocation {
    padding: 0px 10px;
    border: 1.5px solid #00d563; 
    color: #8e8e8e; 
    border-radius: 4px; 
    width: 300px; 
    height: 34px;
    margin-bottom: 30px; 
    margin-right: 20px; 
}

.enterdestination {
   padding: 0px 5px;
   border: 1.5px solid #00d563; 
   color: #8e8e8e; 
   border-radius: 4px; 
   width: 300px; 
   height: 34px; 
   margin-bottom: 20px;
}

.map1 {
    width: 20px;
    align-items: center; 
    margin-right: 12px;
}

.form {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    padding-right: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    border: 1px solid #00d563;
    
}

.dropdown-menu {

    font-family: 'LucidaStd-Bold';
}

.dropdown-menu1 {
    font-family: 'LucidaStd-Bold ';
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    right: 0;
    margin-right: 35px;
  }
  
  .header {
    width: 100%; 
    height: 170px; 
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1); 
    background-color: rgba(255, 255, 255,);
  }

  .categorybtn {
    border: none; 
    background: none;
    left: 10%;
  }

  .category {
      left: 10%;
      margin: 20px;
  }

  .category .category-name {
    font-family: 'Lucida Std';
  }

  .popup {
      /* position:fixed;
      margin: auto;
      top: 0;
      left: 0;
      width: 80%;
      height: 500px;
      background-color: rgba(255,255,255,1);

      display: flex;
      justify-content: center;
      align-items: center; */
    position: fixed;
    padding: 70px;
    left: 20%;
    top: 15%;
    width: 50%;
    border: 1px solid #011627;
    border-radius: 1em;
    box-shadow: -2px 5px 5px #00d563;
    background-color: #FDFFFC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .popup-inner {
      align-items: center;
      position: relative;
      padding: 32px;
      width:100%;
      max-width: 640px;
      background-color: #fff;
  }

  .popup-inner .close-btn {
      position: absolute;
      top: 16px;
      right: 16px;
  }

  .popup-text {
      font-family: 'LucidaStd';
  }

  .popup-title {
    font-family: 'LucidaStd-Bold';
}

.popup-btn {
    padding-top: 100px;
}

.logoutbtn {
    font-family: 'Lucida Std';
}

.home {
    /* width: 100%;
  height: 100%; */
    background-image: url(./icon/home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 950px;
}

.my-article {
    font-family: 'LucidaStd';
    font-size: 20px;
    padding-top:8px;
    padding-bottom: 8px;
    background-color: #00d563;
}

.article-author {
    color: #000000;
    text-decoration: none;
}

.article-title {
    color: #000000;
    text-decoration: none;
}

.article-description {
    color: #000000;
    text-decoration: none;
}

.article-time {
    color: #000000;
    text-decoration: none;
}
